<form [formGroup]="formUsuario" (ngSubmit)="submitFormulario()">
  Nombre:
  <input type="text" formControlName="nombre" /><br>
  Edad:
  <input type="number" formControlName="edad" /><br>

  Sexo:
  <select id="sexo" formControlName="sexo">
    <option value="">Seleccione...</option>
    <option *ngFor="let sexo of sexos" [value]="sexo">{{sexo}}</option>
  </select>

  <button type="submit">Enviar</button>

  <br><br>


</form>

  <!-- <div *ngIf="submitFormulario?.length > 0"> -->

<div>
    <br>
    <p>Listar Usuarios</p>
    <br>

    <table>

      <tr>

        <td>Nombre</td>
        <td>Edad</td>
        <td>Sexo</td>
        <!-- <td>Mayor de edad</td> -->

      </tr>

      <tr *ngFor="let usuario of listaUsuarios">
  
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.edad}}</td>
        <td>{{usuario.sexo}}</td>
        <!-- <td>{{usuario.edad|mayorEdad}}</td> -->

      </tr>

    </table>

  </div>

<br><br>
<pre>{{formUsuario.value|json}}</pre>
<br><br>


<p *ngIf="formUsuario.controls.nombre.errors?.required">nombre es requrido</p>

<!-- Mostrar que los validadores funcionan de nombre y edad-->

<!-- <button (click)="cambiarNombre()">Cambiar Nombre</button> -->
<!-- nombre:
Valid: {{formUsuario.controls.nombre.valid}}<br> -->
<!-- Invalid: {{formUsuario.controls.nombre.invalid}}<br>
Pristine: {{formUsuario.controls.nombre.pristine}}<br>
Dirty: {{formUsuario.controls.nombre.dirty}}<br>
Touched: {{formUsuario.controls.nombre.touched}}<br>
Untouched: {{formUsuario.controls.nombre.untouched}}<br><br>

Edad:
Valid: {{formUsuario.controls.edad.valid}}<br>
Invalid: {{formUsuario.controls.edad.invalid}}<br>
Pristine: {{formUsuario.controls.edad.pristine}}<br>
Dirty: {{formUsuario.controls.edad.dirty}}<br>
Touched: {{formUsuario.controls.edad.touched}}<br>
Untouched: {{formUsuario.controls.edad.untouched}}<br><br>
required edad: {{formUsuario.controls.edad.errors?.required}}<br>
required: {{formUsuario.controls.nombre.errors?.required}}<br> -->
<!-- maxLength: {{formUsuario.controls.nombre.errors?.maxlength}}<br> -->
<!-- minLength: {{formUsuario.controls.nombre.errors.minlength.requiredLength}}<br> -->