<form [formGroup]="formFichaPaciente" (ngSubmit)="crearFichaPaciente()">

  Nombre:
  <input type="text" formControlName="nombre">

  <br>
  Apellido Paterno:
  <input type="text" formControlName="apellidoPaterno">

  <br>
  Apellido Materno:
  <input type="text" formControlName="apellidoMaterno">

  <br>
  Sexo:
  <select formControlName="sexo"> 
    <option value=''>Seleccione...</option>
    <option *ngFor="let sexo of sexos" [value]="sexo">{{ sexo }}</option>
  </select>

  <br>
  Edad:
  <input type="=number" formControlName="edad">
  <br>
  Correo:
  <input type="email" formControlName="correo">
  <br>
  Sistema de Salud:
  <select formControlName="sistemaSalud"> 
      <option value=''>Seleccione...</option>
      <option *ngFor="let sistemaSalud of sistemasSalud" [value]="sistemaSalud">{{ sistemaSalud }}</option>
    </select>
    <br>
  <button type="submit">Agregar Paciente</button>

</form>