<form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
  Correo:
  <input type="text" formControlName="correo" id="correo">
  <br>Contraseña
  <input type="password" formControlName="contrasena" id="contrasena">
  <br>
  <button type="submit">Iniciar Sesión</button>
</form>