<a [routerLink]="['usuario/crear']">Crear usuario</a>|
<a [routerLink]="['usuario/listar']">Listar usuario</a>|
<a [routerLink]="['usuario/modificar']">Modificar usuario</a>|
<a [routerLink]="['usuario/eliminar']">Eliminar usuario</a>