<app-crear-usuario (emisorEventoUsuario)="agregarUsuarioLista($event)"></app-crear-usuario>
<br><br>
<table>

  <tr>

    <th>Nombre</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>edad</th>
    <th>email</th>
    <th>Saldo</th>
    <th>Mayor/menor de edad</th>
    <th>Accion</th>

  </tr>

  <tr *ngFor="let usuario of usuarios">

    <td>{{usuario.nombre}}</td>
    <td>{{usuario.apellidoPaterno}}</td>
    <td>{{usuario.apellidoMaterno}}</td>
    <td>{{usuario.edad}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.saldo | currency:'CLP':'symbol-narrow'}}</td>
    <td> {{ usuario.edad | usuarioPipe }} </td>
    <td><button (click)="redireccionarAEditar(usuario.id)">Editar</button></td>
    <td><button (click)="redireccionarAEliminar(usuario.id)">Eliminar</button></td>


  </tr>

</table>