<br><br>
<form [formGroup]="formUsuario" (ngSubmit)="crearUsuario()">

  Nombre:
  <input type="text" formControlName="nombre">
  <br>
  Apellido Paterno:
  <input type="text" formControlName="apellidoPaterno">
  <br>
  Apellido Materno:
  <input type="text" formControlName="apellidoMaterno">
  <br>
  Edad:
  <input type="number" formControlName="edad">
  <br>
  Email:
  <input type="text" formControlName="email">

  <br>

  <button type="submit">Enviar</button>

  <br><br>


  <!-- <a [routerLink]="['usuario/inicio']"> Volver </a> -->

</form>
<!-- <div>
  <table>
    <tr>
      <td>Nombre</td>
      <td>Apellido Paterno</td>
      <td>Apellido Materno</td>
      <td>Edad</td>
      <td>Email</td>
    </tr>
    <tr *ngIf="let usuario of listarUsuario">
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellidoPaterno}}</td>
      <td>{{usuario.apellidoMaterno}}</td>
      <td>{{usuario.edad}}</td>
      <td>{{usuario.email}}</td>
    </tr>
  </table>
</div> -->



<pre>
  {{formUsuario.value|json}}
</pre>