<app-crear-usuario (emisorEventoUsuario)="agregarUsuarioLista($event)"></app-crear-usuario>
<br><br>
<table>

  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Correo</th>


  </tr>

  <tr *ngFor="let usuario of usuarios">

    <td>{{usuario.nombre}}</td>
    <td>{{usuario.apellido}}</td>
    <td>{{usuario.edad}}</td>
    <td>{{usuario.correo}}</td>

  </tr>

</table>
