<br><br>
<form [formGroup]="formularioUsuario" (ngSubmit)="crearUsuario()">
  Nombre:
  <input type="text" formControlName="nombre" />
  <span *ngIf="nombre.touched && nombre.errors?.required">Es requerido</span>


  <br>
  Apellido:
  <input type="text" formControlName="apellido" />
  <span *ngIf="apellido.touched && apellido.errors?.required">Es requerido</span>

  <br>
  Edad:
  <input type="number" formControlName="edad" />
  <span *ngIf="edad.touched && edad.errors?.required">Es requerido</span>
  <span *ngIf="edad.errors?.pattern">Debe tener sólo números</span>

  <br>
  Correo:
  <input type="email" formControlName="correo" />
  <span *ngIf="correo.touched && correo.errors?.required">Es requerido</span>

  <br>
  <button type="submit">Crear Usuario</button>
</form>

<pre>
  {{formularioUsuario.value|json}}
</pre>

