<p>Eliminar</p>

ID:
<input type="number" value="{{id}}" disabled="disabled" /> <br><br>

Nombre:
<input type="text" disabled="disabled" /> <br><br>
<!-- 
Apellido Paterno:
<input type="text" value="{{usuario.apellidoPaterno}}" disabled="disabled" /> <br><br>

Apellido Materno:
<input type="text" value="{{usuario.apellidoMaterno}}" disabled="disabled" /> <br><br>

Edad:
<input type="number" value="{{usuario.edad}}" disabled="disabled" /> <br><br>

Email:
<input type="text" value="{{usuario.email}}" disabled="disabled" /> <br><br> -->

<button (click)="eliminarUsuarioBD()">Eliminar Usuario</button>
