<br><br>
<form [formGroup]="formularioEditarUsuario" (ngSubmit)="modificarUsuario()">
  <!-- ID:
  <input type="number" id="id" disabled="disabled" /> <br><br> -->

  Nombre:
  <input type="text" formControlName="nombre" id="nombre" />
  <span *ngIf="nombre.touched && nombre.errors?.required">Es requerido</span>
  <span *ngIf="nombre.errors?.maxlength">Debe tener un largo máximo</span>
  <span *ngIf="nombre.errors?.pattern">Debe tener sólo letras</span>

  <br>
  Apellido Paterno:
  <input type="text" formControlName="apellidoPaterno" id="apellidoPaterno" />
  <span *ngIf="apellidoPaterno.touched && apellidoPaterno.errors?.required">Es requerido</span>
  <span *ngIf="apellidoPaterno.errors?.pattern">Debe tener sólo letras</span>

  <br>
  Apellido Materno:
  <input type="text" formControlName="apellidoMaterno" id="apellidoMaterno" />
  <span *ngIf="apellidoMaterno.errors?.pattern">Debe tener sólo letras</span>

  <br>
  Edad:
  <input type="number" formControlName="edad" id="edad" />
  <span *ngIf="edad.touched && edad.errors?.required">Es requerido</span>
  <span *ngIf="edad.errors?.pattern">Debe tener sólo números</span>

  <br>
  Email:
  <input type="email" formControlName="email" id="email" />
  <span *ngIf="email.touched && email.errors?.required">Es requerido</span>
  <span *ngIf="email.touched && email.errors?.email">Debe tener formato de correo</span>
  <br>
  <button type="submit">Modificar</button>
</form>

<!-- <pre>
  {{formularioUsuario.value|json}}
</pre> -->